.title {
  font-family: Continuum;
  color: #fff;
  margin: 0;
  padding-left: 50px;
  font-weight: 500;
  font-size: 120px;
  grid-area: title;
}
.body {
  grid-area: body;
}

.body-text {
  font-size: 48px;
  color: #fff;
  margin: 0px;
  font-weight: lighter;
  padding: 50px;
  text-align: left;
}

.mii {
  grid-area: character;
}

.dl-button {
  color: darkorange;
}
