.title {
  font-family: Continuum;
  color: #fff;
  margin: 0;
  padding-left: 50px;
  text-align: left;
  font-weight: 500;
  font-size: 120px;
  grid-area: title;
}
.body {
  grid-area: body;
}
.glassmorph {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.body-text {
  font-size: 48px;
  color: #fff;
  margin: 0px;
  font-weight: lighter;
  padding: 50px;
  text-align: left;
}

.mii {
  grid-area: character;
}

.dl-button {
  color: darkorange;
}
