@font-face {
  font-family: "Continuum";
  src: local("Continuum"), url(./assets/contb.ttf) format("truetype");
}
.App {
  text-align: center;
  background-color: darkblue;
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: hidden;
}
.content {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas:
    ". . . ."
    ". title character character"
    ". body character character"
    ". . . .";
  gap: 10px;
}
