@font-face {
  font-family: "Continuum";
  src: local("Continuum"), url(./assets/contm.ttf) format("truetype");
}
.App {
  text-align: center;
  background-color: darkblue;
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: hidden;
}
.content {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: Continuum;
  color: #fff;
  font-weight: 500;
}
